.div-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.contact-img {
    width: 450px;
    padding-right: 100px;
}

.p-contact {
    margin-top: -80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    font-size: 27px;
}
.p-contact-extra {
    margin-top: -80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    font-size: 27px;
}

.contact-info {
    border-left: 1.5px solid #e4edf4;
    padding-left: 100px;
    text-align: left;
}

.contact-info p {
    font-size: 30px;
}

.fa-briefcase {
    width: 40px;
}

.fa-envelope {
    width: 40px;
}

.contact-info .fa {
    color: #ff5d47;
}

@media (max-width: 990px) {
    .div-contact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    .contact-img {
        width: 70%;
        margin-bottom: -50px;
        padding-right: 0px;
        /* Add some space between image and contact info on smaller screens */
    }

    .p-contact {
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        font-size: 17px;
        text-align: left;
    }

    .contact-info {
        border-left: none;
        padding-left: 0;
        text-align: left;
    }

    .contact-info p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .div-contact {
        margin-bottom: 30px;
    }
    .p-contact-extra{
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        font-size: 18px;
        text-align: center;
    }
}