.navbar{
    background-color: #1b263b;
}
.container{
    color: #e0e1dd;
}
.navbar-collapse a{
    color: #e0e1dd;
}
.navbar-brand{
    color: #e0e1dd;
}
.navbar-toggler-icon{
    background-image: url('../../public/images/menu_icon.png');
}
.dropdown-item{
    background-color: #1b263b;
    color: #1b263b;
}
.dropdown-item:hover{
    background-color: #1b263b;
    color: #778da9;
}
.dropdown-toggle.nav-link:hover::after{
    color: #778da9;
}
.dropdown-menu{
    background-color: #1b263b;
}
.dropdown-toggle.show.nav-link{
    color: #e0e1dd;
}
.navbar-toggler:focus {
    outline: 2px solid #e0e1dd !important;
    /* Add any other styles you want to apply when focused */
}
.navbar-collapse a:hover{
    color: #778da9;
}
.navbar-brand:hover{
    color: #778da9;
}