.navbar{
    background-color: #212121;
    font-size: 25px;
}
.container{
    color: #e4edf4;
}
.me-auto{
    margin-left: auto;
}
.navbar-collapse a{
    color: #e4edf4;
    transition:0.5s;
    margin-bottom: 0px;
}
.nav-link{
    color: #e4edf4;
    transition:0.5s;
    margin: 15px;
    margin-bottom: 0px;
}
.navbar-brand{
    color: #e4edf4;
    transition:0.5s;
}
.navbar-toggler-icon{
    background-image: url('../../public/images/menu_icon.png');
}
.dropdown-item{
    background-color: #212121;
    color: #212121;
    transition:0.5s;
    font-size: 22px;
}

.dropdown-item:hover{
    background-color: #212121;
    color: #ff5d47;
    transition:0.5s;
}
.dropdown-toggle.nav-link:hover::after{
    color: #ff5d47;
    transition:0.5s;
}
.dropdown-menu{
    background-color: #212121;
    border: none;
}
.dropdown-toggle.show.nav-link{
    color: #e4edf4;
}
.navbar-toggler:focus {
    outline: 2px solid #e4edf4 !important;
    /* Add any other styles you want to apply when focused */
}
.navbar-collapse a:hover{
    color: #ff5d47;
}
.navbar-brand:hover{
    color: #ff5d47;
}

@media (max-width: 990px) {
    .navbar {
        position: fixed; /* Set the position to fixed */
        width: 100%; /* Make it full-width */
        z-index: 1000; /* Set a high z-index to make it appear in front */
        top: 0; /* Stick it to the top */
      }
    .nav-link{
        font-size: 20px;
    }
    .dropdown-item{
        font-size: 18px;
    }
  }